.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("BankGothicMdBT"),
    url("./fonts/BankGothicMdBT.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";   /*Can be any text*/
  src: local("BankGothicMdBT"),
    url("./fonts/BankGothicMdBT.ttf") format("woff");
}

.head{
  font-family: "Light";
  font-size: 45px;
}

.logo{
  font-family: "Light";
  font-size: 33px;
}

.head1{
  font-family: "Light";
  font-size: 21px;
}

.head2{
  font-family: "Light";
  font-size: 15px;
}

.head3{
  font-family: "Light";
  font-size: 25px;
}

.head4{
  font-family: "Light";
  font-size: 15px;
}
.button1{
  font-family: "Light";
  font-size: 18px;
}

.head5{
  font-family: "Medium";
  font-size: 40px;
}

.navlink{
  font-family: "Light";
  font-size: 20px;
}